%div.row
  %div.span12
    %div.page-header
      %h1
        Active Members
        %small.muted #{@members.count} total, recent first

      = render partial: "admin/members/navigation", locals: { active: :members }

      %div.pull-right
        %span.muted.nav-divider
          %i.icon-list
          actions:

        %ul.nav.nav-pills.pill-block.no-trailing
          %li
            %a{rel: "download", href: admin_members_path(format: 'csv')}
              %i.icon-download
              Export CSV

      %div.clearfix

%div.row
  %div.span12
    = render partial: 'shared/pagination', locals: { collection: @members }

%div.row
  %div.span12
    %table.table.table-striped.table-condensed.sortable
      %thead
        %tr
          %th Name
          %th Email
          %th State
      %tbody
        - @members.each do |member|
          %tr
            %td #{member.full_name}
            %td #{member.email}
            %td #{member.state_code}

%div.row
  %div.span12
    = render partial: 'shared/pagination', locals: { collection: @members }
