%meta{'http-equiv' => 'X-UA-Compatible',  'content' => 'chrome=1'}

= simple_form_for(@petition, html: {class: 'form-horizontal' }) do |f|
  = f.input :title, as: :string, tabindex: 1
  = f.input :description, tabindex: 2
  - if can :feature_petition
    = f.input :to_send, label: 'Feature this petition', tabindex: 3
  - if can :feature_petition
    - email_subject_title = PetitionTitle.full_name PetitionTitle::TitleType::EMAIL
    .controls.toggle
      = link_to_add_fields "Customize #{email_subject_title}", f, :petition_titles, {:class => "string", :id => 'email_subject_link'}, {:title_type => "email", :label_name => "#{email_subject_title}"}, "#email_subjects"

    #email_subject
      .control-group.string
        .control-label #{email_subject_title}
        .controls#email_subjects
          = f.fields_for :petition_titles do |builder|
            = render 'petition_title_fields', {f: builder, title_type: "email"}
        .controls
          = link_to_add_fields "Add #{email_subject_title}", f, :petition_titles, {:class => "string btn btn-primary add_link"}, {:title_type => "email", :label_name => "#{email_subject_title}"}, "#email_subjects"

    - facebook_title_title = PetitionTitle.full_name PetitionTitle::TitleType::FACEBOOK
    .controls.toggle
      = link_to_add_fields "Customize #{facebook_title_title}", f, :petition_titles, {:class => "string", :id => 'facebook_title_link'}, {:title_type => "facebook", :label_name => "#{facebook_title_title}"}, "#facebook_titles"

    #facebook_title
      .control-group.string
        .control-label #{facebook_title_title}
        .controls#facebook_titles
          = f.fields_for :petition_titles do |builder|
            = render 'petition_title_fields', {f: builder, title_type: "facebook"}
        .controls
          = link_to_add_fields "Add #{facebook_title_title}", f, :petition_titles, {:class => "string btn btn-primary add_link"}, {:title_type => "facebook", :label_name => "#{facebook_title_title}"}, "#facebook_titles"

    .controls.toggle
      // =link_to "Customize Facebook Description", "#", :id => "facebook_description_link"

    #facebook_description
      .control-group.string
        .control-label Facebook Description
        .controls#facebook_descriptions
          = f.text_area :facebook_description

    .controls.toggle
      = link_to_add_fields "Customize Image", f, :petition_images, {:class => "string", :id => 'sharing_image_link'}, {:label_name => "Image"}, "#sharing_images"

    #sharing_image
      .control-group.string
        .control-label Image Link
        .controls#sharing_images
          = f.fields_for :petition_images do |builder|
            = render 'petition_image_fields', {f: builder}
        .controls
          = link_to_add_fields "Add Image", f, :petition_images, {:class => "string btn btn-primary add_link"}, {:label_name => 'Image'}, "#sharing_images"
          %span.image-help-text
            (Please enter a link to the image. Images will be resized to be 200 pixels wide)


  .controls.submit
    -# trick not to submit the form on enter
    = f.button :submit, class: 'btn btn-primary', tabindex: 6, onmousedown: "this.title=1", onclick: "if(this.title!=1){return false;}"
    - if can :feature_petition
      = link_to "Email a preview to #{current_user.email}", "#", :id => "email_preview_link", :onclick => "send_email_preview($(this).closest('form'), '#{url_for(:action => 'send_email_preview', :controller => 'petitions')}');"


- content_for :javascripts do
  $(document).ready(initEditPetition);

