- if @referring_url
  = hidden_field_tag :referring_url, @referring_url
- if @email_hash
  = hidden_field_tag :email_hash, @email_hash
- if @fb_like_hash
  = hidden_field_tag :fb_like_hash, @fb_like_hash
- if @fb_share_link_ref
  = hidden_field_tag :fb_share_link_ref, @fb_share_link_ref
- if @fb_wall_hash
  = hidden_field_tag :fb_wall_hash, @fb_wall_hash
- if @fb_action_id
  = hidden_field_tag :fb_action_id, @fb_action_id
- if @fb_dialog_request
  = hidden_field_tag :fb_dialog_request, @fb_dialog_request
- if @forwarded_notification_hash
  = hidden_field_tag :forwarded_notification_hash, @forwarded_notification_hash
- if @shared_link_hash
  = hidden_field_tag :shared_link_hash, @shared_link_hash
- if @twitter_hash
  = hidden_field_tag :twitter_hash, @twitter_hash
