= javascript_include_tag "http://connect.facebook.net/en_US/all.js#xfbml=1"
- content_for :javascripts do
  VK.signing_from_email = '#{@signing_from_email}';
  VK.petition_id = '#{@petition.id}';
  VK.signature_id = '#{@signature.id}';
  VK.current_member_hash = '#{@current_member_hash}'
  VK.social_tracking_url = '#{new_social_tracking_url}';
  VK.fb_action_instance_id = '#{@existing_fb_action_instance_id}'
  VK.facebook_sharing_type = '#{fb_action_like_popup}';
  - if @was_signed
    $(document).ready(initSharePetition);
  - else
    $(document).ready(initShowPetition);

