- if after_share_view == "checklist"
  .checklist
    .box.checked
      Read the petition
    .box.checked
      Sign the petition
    .box{ class: facebook_button[:button_class]}
      Share the petition
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }


- if after_share_view == "thanks_for_signing"
  .share
    Thanks for signing!
  .sharing-message
    Spread the word, share with your friends!
  .arrow
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "button_is_most_effective_tool"
  .share.big_margin
    This button is the most effective tool to make change happen.
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "button_is_most_effective_tool_with_thanks"
  .thanks
    Thanks for signing!
  .share
    This button is the most effective tool to make change happen.
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }


- if after_share_view == "tell_two_friends"
  .share.big_margin.two_friends
    If you tell two friends...
    %br
    And they tell two friends...
    %br
    And they tell two friends...
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "tell_two_friends_with_thanks"
  .thanks
    Thanks for signing!
  .share.two_friends.with_thanks
    If you tell two friends...
    %br
    And they tell two friends...
    %br
    And they tell two friends...
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "tell_two_friends-sandwich-grey"
  .share.big_margin.two_friends
    If you tell two friends...
    %br
    And they tell two friends...
    %br
    And they tell two friends...
  .sandwich
    .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }
    = link_to('', 'https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=info@demandprogress.org&lc=US&item_name=Support%20Watchdog.net&no_note=1&no_shipping=1&currency_code=USD&bn=PP%2dDonationsBF%3abtn_donateCC_LG%2egif%3aNonHosted', :class => "btn btn-primary grey_donate")

- if after_share_view == "signatures_stop_signatures_multiply"
  .share.dual
    The signatures stop here:
  .btn.btn-primary.grey_button{ :"data-dismiss" => 'modal' }
  .share.dual
    The signatures MULTIPLY here:
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "signatures_stop_signatures_multiply_with_thanks"
  .thanks
    Thanks for signing!
  .share.dual
    The signatures stop here:
  .btn.btn-primary.grey_button{ :"data-dismiss" => 'modal' }
  .share.dual
    The signatures MULTIPLY here:
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "mandela-time_ripe_to_do_right"
  .image= image_tag('mandela.png');
  .quote
    "We must use time wisely and forever realize that the time is always ripe to do right."
    %span.source
      \- Nelson Mandela
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }

- if after_share_view == "mandela-time_ripe_to_do_right-color"
  .image= image_tag('mandela_color.png');
  .quote
    "We must use time wisely and forever realize that the time is always ripe to do right."
    %span.source
      \- Nelson Mandela
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }

- if after_share_view == "teresa-stone_creates_ripples-color"
  .image= image_tag('teresa_color.png');
  .quote
    "I alone cannot change the world, but I can cast a stone across the waters to create many ripples."
    %span.source
      \- Mother Teresa
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "gandhi-shake_the_world"
  .image= image_tag('gandhi.png');
  .quote
    "In a gentle way, you can shake the world."
    %span.source
      \- Mahatma Gandhi
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "king-do_what_is_right"
  .image= image_tag('king.png');
  .quote
    "The time is always right to do what is right."
    %span.source
      \- Martin Luther King, Jr.
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "king-do_what_is_right-color"
  .image= image_tag('king_color.png');
  .quote
    "The time is always right to do what is right."
    %span.source
      \- Martin Luther King, Jr.
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "melanie_1"
  .melanie_1
    .image= image_tag('melanie_1.png');
    .source
      %b Melanie Jones
      %br
      petition creator
    %p
      Hi,
      = succeed "!" do
        %span{class: "thanks_first_name"}= @member.try(:first_name) || "friend"
      Thanks for signing my petition.
    %p I really appreciate your help, but if we don't spread the word, it'll never be a success.
    %p Can you take a second and share it now?
    .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "melanie_2"
  .melanie_2
    .image= image_tag('melanie_2.png');
    .source
      %b Melanie Jones
      %br
      petition creator
    %p
      Hi,
      = succeed "!" do
        %span{class: "thanks_first_name"}= @member.try(:first_name) || "friend"
      Thanks for signing my petition.
    %p I really appreciate your help, but if we don't spread the word, it'll never be a success.
    %p Can you take a second and share it now?
    .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "most_people_will_share_will_you"
  .share.most_share
    Most people share this petition.
    %br
    Will you?
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }


- if after_share_view == "most_people_will_share_will_you_with_thanks"
  .thanks
    Thanks for signing!
  .share.most_share
    Most people share this petition.
    %br
    Will you?
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }


- if after_share_view == "over_x_shares_and_counting-with_counter"
  .share.big_margin
    Over
    %span.tickcounter
      #{number_with_delimiter(@share_count)}
    shares
    %br
    and counting...
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }


- if after_share_view == "if_facebook_is_slow_try_again_later"
  .share.big_margin
    If Facebook is slow because too many people are sharing, please try again later.
  .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "almost_there_one_thing_to_do"
  .progress_image
    = image_tag("progress_bar.png")
    .share
      You're almost there!
      %br
      Only one thing left to do...
    .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "almost_there_one_thing_to_do_with_thanks"
  .progress_image
    .thanks
      Thanks for signing!
    = image_tag("progress_bar.png")
    .share
      You're almost there!
      %br
      Only one thing left to do...
    .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "demand_progress_facebook_pictures"
  .fb
    .text
      Most people share this petition.
    .image= image_tag('facebook_people.png');
    .text.will_you
      Will you?
    .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }

- if after_share_view == "demand_progress_facebook_pictures_with_thanks"
  .fb
    .text.thanks
      Thanks for signing!
    .text
      Most people share this petition.
    .image= image_tag('facebook_people.png');
    .text.will_you
      Will you?
    .btn.btn-primary.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }

- if after_share_view == "wow_most_shared_petition_ever"
  .share.big_margin
    Wow, this is one of our most shared petitions ever!
  .btn.btn-primary.fb{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }


- if after_share_view == "hey_youre_not_done_yet"
  .share.big_margin
    .larger Hey!
    %br
    You're not done yet --
    %br
    you should share this on Facebook:
  .btn.btn-primary.fb{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "hey_you_youre_not_done_yet"
  .share.big_margin
    .larger Hey you!
    %br
    You're not done yet --
    %br
    you should share this on Facebook:
  .btn.btn-primary.fb{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "thanks_youre_not_done_yet"
  .share.big_margin
    .larger Thanks!
    %br
    But you're not done yet --
    %br
    you should share this on Facebook:
  .btn.btn-primary.fb{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "name_youre_not_done_yet"
  .share.big_margin
    .larger
      Hey
      = succeed "!" do
        %span{class: "thanks_first_name"}= @member.try(:first_name) || "friend"
    %br
    You're not done yet --
    %br
    you should share this on Facebook:
  .btn.btn-primary.fb{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }

- if after_share_view == "name_big_on_facebook"
  .share.big_margin
    .larger
      Hey
      = succeed "!" do
        %span{class: "thanks_first_name"}= @member.try(:first_name) || "friend"
    %br
    .smaller We noticed you're big on Facebook.
    %br
    .smaller Would you mind sharing this?
  .btn.btn-primary.fb{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who }


- if after_share_view == "kitten_sad"
  .image.with_margin= image_tag('kitten_sad.png');
  .larger
    Sad kitten wants you to share.
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "kitten_treat"
  .image.with_margin= image_tag('kitten_shocked.png');
  .larger
    Share this petition
    %br
    and the kitten gets a treat.
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "kitten_gun"
  .image.with_margin= image_tag('kitten_gun.png');
  .larger
    Share this petition or the kitten gets it.
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "puppy_sad"
  .image.with_margin= image_tag('puppy_walking.png');
  .larger
    Sad puppy wants you to share.
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "puppy_treat"
  .image.with_margin= image_tag('puppy_laying.png');
  .larger
    Share this petition
    %br
    and the puppy gets a treat.
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "puppy_gun"
  .image.with_margin= image_tag('puppy_gun.png');
  .larger
    Share this petition or Fido gets it.
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }


- if after_share_view == "ferret_treat"
  .image.with_margin= image_tag('ferret.png');
  .larger
    Share this petition
    %br
    and the ferret gets a treat.
  .btn.btn-primary.inspirational.share{ class: [facebook_button[:button_class], facebook_button_aesthetic], id: who  }
