- after_share_view = "almost_there_only_one_thing_left_to_do_or_share_link"
- after_share_view = "button_is_most_effective_tool-progress_bar"



- if after_share_view == "almost_there_only_one_thing_left_to_do_or_share_link"
  .progress_image
    = image_tag("progress_bar.png")
    .share
      You're almost there!
      %br
      Only one thing left to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "button_is_most_effective_tool-progress_bar"
  .progress_image
    = image_tag("progress_bar.png")
    .share.remixed
      You're almost there!
      %br
      Only one thing left to do...
  .remix.text
    This button is the most effective tool
    %br
    to make change happen.
  = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_there_only_one_thing_left_to_do"
  .progress_image
    = image_tag("progress_bar.png")
    .share
      You're almost there!
      %br
      Only one thing left to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_finished_only_one_thing_left_to_do"
  .progress_image
    = image_tag("progress_bar.png")
    .share
      You're almost finished!
      %br
      Only one thing left to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_done_only_one_thing_left_to_do"
  .progress_image
    = image_tag("progress_bar.png")
    .share
      You're almost done!
      %br
      Only one thing left to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_there_just_one_thing_left_to_do"
  .progress_image
    = image_tag("progress_bar.png")
    .share
      You're almost there!
      %br
      Just one thing left to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_there_just_one_last_thing_to_do"
  .progress_image
    = image_tag("progress_bar.png")
    .share
      You're almost there!
      %br
      Just one last thing to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_there_just_one_more_thing_to_do"
  .progress_image
    = image_tag("progress_bar.png")
    .share
      You're almost there!
      %br
      Just one more thing to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_there_only_one_thing_left_to_do-top_arrow"
  .progress_image
    = image_tag("progress_bar_arrow_top.png")
    .share
      You're almost there!
      %br
      Only one thing left to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_there_only_one_thing_left_to_do-bottom_arrow"
  .progress_image
    = image_tag("progress_bar_arrow_bottom.png")
    .share
      You're almost there!
      %br
      Only one thing left to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_there_only_one_thing_left_to_do-85"
  .progress_image
    = image_tag("progress_bar_85.png")
    .share
      You're almost there!
      %br
      Only one thing left to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_there_only_one_thing_left_to_do-85_top_arrow"
  .progress_image
    = image_tag("progress_bar_85_arrow_top.png")
    .share
      You're almost there!
      %br
      Only one thing left to do...
    = render :partial => "button_link_toggle", locals: { who: who }


- if after_share_view == "almost_there_only_one_thing_left_to_do-85_bottom_arrow"
  .progress_image
    = image_tag("progress_bar_85_arrow_bottom.png")
    .share
      You're almost there!
      %br
      Only one thing left to do...
    = render :partial => "button_link_toggle", locals: { who: who }
