%h1
  Listing petitions

%table.table.table-striped.table-condensed
  %tr
    %th.span3
      Title
    %th.span7
      Description
    %th.span1
    %th.span1
    - if can :feature_petition
      %th.span2
        Feature this Petition

  - @petitions.each do |petition|
    %tr
      %td
        #{petition.title}
      %td
        = simple_format(petition.description)
      %td.calign
        = link_to('Show', petition)
      %td.calign
        = link_to('Edit', edit_petition_path(petition))
      - if can :feature_petition
        %td.calign 
          =check_box_tag petition.to_send, petition.to_send, petition.to_send, :disabled => true

= link_to('Start a New Petition', new_petition_path, :class => 'btn btn-primary')

