%div.row
  %div.span12
    %div.page-header
      %h1 All Petitions

      = render partial: "admin/petitions/navigation", locals: { active: :index }

      %div.pull-right
        %span.muted.nav-divider
          %i.icon-list
          show:
        %ul.nav.nav-pills.pill-block.no-trailing
          %li{class: params[:featured] ? "" : "active"}
            %a{href: petitions_path} All
          %li{class: params[:featured] ? "active" : ""}
            %a{href: petitions_path(:featured => 'true')} Recently featured

      %div.clearfix

%div.row
  %div.span12
    = render partial: "shared/pagination", locals: { collection: @petitions }

- @petitions.each do |petition|
  %div.row.petition{class: petition.featured? ? "featured" : ""}
    %div.about_petition.span6
      %h4
        %a{href: petition_path(petition), class: 'title'}= petition.title

      %div.description
        = truncate_html(strip_tags_except_links(petition.description), :length => 180, :omission => '...')

      %div.feature
        - if petition.featured?
          %i.icon-ok
          - if petition.featured_on.present?
            %b This petition has been featured for #{time_ago_in_words(petition.featured_on)}
          - else
            %b This petition is featured
        - else
          %i.icon-remove
          This petition is not featured
          = link_to(edit_petition_path(petition), class: 'btn btn-mini') do
            %i.icon-edit
            Edit
    %div.signature.pull-right
      .btn-toolbar
        .btn-group
          = link_to(petition, title: 'View', class: 'btn') do
            %i.icon-list-alt
            View
          = link_to(edit_petition_path(petition), title: 'Edit', class: 'btn') do
            %i.icon-edit
          = link_to(petition_signatures_path(petition, format: :csv), title: 'Export signatures', class: 'btn') do
            %i.icon-download
          = link_to(petition_path(petition), method: :delete, confirm: 'Are you sure?', title: 'Delete', class: 'btn btn-danger') do
            %i.icon-trash.icon-white

%div.row
  %div.span12
    = render partial: "shared/pagination", locals: { collection: @petitions }
