.page_content
  %h1
    View all petitions

  = will_paginate @petitions, :container => false
  .petitionlist
    - @petitions.each do |petition|
      .petition
        .about_petition.span6
          = link_to(petition.title, petition, :class => 'title')
          .description
            = truncate_html(strip_tags_except_links(petition.description), :length => 180, :omission => '...')
          .feature
            - if petition.to_send?
              %i.icon-ok
              %b This petition is featured.
            - else
              %i.icon-remove
              This petition is not featured.
              = link_to(edit_petition_path(petition), class: 'btn btn-mini') do
                %i.icon-edit
                Edit
        .signature.span2
          .btn-toolbar
            .btn-group
              = link_to(petition, title: 'View', class: 'btn') do
                %i.icon-list-alt
                View
              = link_to(edit_petition_path(petition), title: 'Edit', class: 'btn') do
                %i.icon-edit
              = link_to(petition_path(petition), method: :delete, confirm: 'Are you sure?', title: 'Delete', class: 'btn btn-danger') do
                %i.icon-trash.icon-white
  = will_paginate @petitions, :container => false