<h1>Listing petitions</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @petitions.each do |petition| %>
  <tr>
    <td><%= petition.title %></td>
    <td><%= petition.description %></td>
    <td><%= link_to 'Show', petition %></td>
    <% if !current_user.nil? && petition.has_edit_permissions(current_user) %>
		<td><%= link_to 'Edit', edit_petition_path(petition) %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Petition', new_petition_path %>
