.page_content
  %h1
    View all petitions

  .petitionlist
    - @petitions.each do |petition|
      .petition
        .about_petition.span6
          = link_to(petition.title, petition, :class => 'title')
          .description
            = truncate_html(strip_tags_except_links(petition.description), :length => 180, :omission => '...')
          - if is_admin
            .feature
              - if petition.to_send == true
                %i.icon-ok
                %b This petition is featured.
              - if petition.to_send == false
                %i.icon-remove
                This petition is not featured.
                = link_to('(Change)', edit_petition_path(petition))
        .signature.span2
          .btn-toolbar
            .btn-group
              = link_to(petition, title: 'View', class: 'btn') do
                %i{class: "icon-list-alt"}
                View
              - if !current_user.nil? && petition.has_edit_permissions(current_user)
                = link_to(edit_petition_path(petition), title: 'Edit', class: 'btn') do
                  %i{class: "icon-edit"}
              - if !current_user.nil? && (current_user.is_admin? || current_user.is_super_user?)
                = link_to(petition_path(petition), method: :delete, confirm: 'Are you sure?', title: 'Delete', class: 'btn btn-danger') do
                  %i{class: "icon-trash icon-white"}
