- content_for :title, @petition.title
= render :partial => "javascript_content"
.fb-root


#petition_page{class: @was_signed ? "was_signed" : "not_signed"}
  - if @petition.has_edit_permissions(current_user)
    = link_to_if current_user, 'Edit this Petition', edit_petition_path(@petition), class: "edit btn btn-primary"

%h1.visible-phone= @petition.title

.visible-phone#mobile_thanks{class: @was_signed ? "was_signed" : "not_signed"}
  = render :partial => "thanks_for_signing", locals: { who: 'the-one-in-the-side' }

.row
  .span3
    - if !@was_signed and !browser.mobile?
      .progress_box{ :class => progress_box_border }
        .progress_text.plain
          Step 1 of 3 complete...
        .progressbar
          .fluid
        .progress_text
          You've made it this far.  Please sign!
      .signature-form
        %h3 Sign this petition!
        = form_tag [@petition, @signature] do |form|
          = simple_fields_for :signature, @signature do |f|
            = f.input :first_name, :hint => false, :autofocus => true
            = f.input :last_name, :hint => false
            = f.input :email
            = hidden_field_tag :referer_ref_code, @referer_ref_code
            = hidden_field_tag :referer_ref_type, @referer_ref_type
            = hidden_field_tag :signer_ref_code, @signer_code.code
            = f.button :submit, :id => 'sign_petition', :class => "btn btn-primary", :value => 'Sign!'
          .privacy_policy
            = render :partial => "privacy"

    - if !@was_signed
      = render :partial => "fblike_progress"
      .visible-phone
        = link_to('Sign this Petition!', '', :class => "btn btn-primary")

    - if @was_signed
      #thanks-for-signing-message
        = render :partial => "thanks_for_signing", locals: { who: 'the-one-in-the-side' }
      = button_to 'Does someone else want to sign? Click here.', again_petition_path(@petition, @query), id: 'sign-again', method: :post

  .span9
    %h1.hidden-phone= @petition.title
    .petition_body
      %hr
      - petitiontext = @petition.description_lsub
      - if @petition.to_send != true
        - petitiontext = Sanitize.clean(petitiontext, Sanitize::Config::BASIC)
      - if @petition.petition_images.any?
        = image_tag @petition.petition_images.first.public_url
      .description= petitiontext.html_safe
      .visible-phone= link_to('Sign this Petition!', '', :class => 'btn btn-primary', :style => ( @was_signed ? 'display:none' : ''))


- content_for(:meta_tags) do
  - open_graph_for(@petition, @referer_code || @signer_code).each do |key, value|
    = tag 'meta', property:key, content:value.to_s

= hidden_field_tag 'petitionId', @petition.id

.modal.hide.fade#thanksModal
  .modal-body
    = link_to('x' , '#', :class => "close", :"data-dismiss" => 'modal')
    = render :partial => "thanks_for_signing", locals: { who: 'the-one-in-the-modal' }

.modal.hide.fade#facebookFriendsModal
  .modal-body
    = link_to('x' , '#', :class => "close", :"data-dismiss" => 'modal')
    = render :partial => "facebook_friend_widget"
  .modal-footer
    %a.btn.btn-success{:href => "#"} Send

.modal.hide.fade#thanksAfterSharingModal
  .modal-body
    = link_to('x' , '#', :class => "close", :"data-dismiss" => 'modal')
    - spin! "show donation modal", :donation
    %h3
      Thanks for sharing!
    %p
      Want to support our work?
      = link_to('Donate $5', '#', :class => "donate_btn btn")
    = link_to('Close', '#', :class => "close btn", :"data-dismiss" => 'modal')

.modal.hide.fade#abortSharingModal
  .modal-body
    = link_to('x' , '#', :class => "close", :"data-dismiss" => 'modal')
    %h3
      Hey &mdash; we need those permissions in order to share!
    %h4
      Sorry, but Facebook won't let us share this unless you grant us those permissions.  We promise we won't abuse them for anything else.
    %p{ :class => accent_red }
      %a.btn.btn-primary.button.btn-large.share#try-again
        Try again!
