- content_for :title, @petition.title
= render :partial => "javascript_content"

.fb-root

- if @just_signed
  #mobile_thanks
    .thanks
      Thanks for signing!
    .sharing-message
      Spread the word, share with your friends!
    .tweet
      %a.twitter-share-button{'data-url' => @tweetable_url} Tweet
    .btn.btn-primary.fb_popup_btn
      .fb_icon
      .text Share on facebook

/TODO: please, move the above 3 lines to the helper and unit test it!!!
- normal_browser = !browser.ie? and !browser.mobile? and !browser.android?
#petition_page.page_content
  .secondary
    .sidebar_test
      - unless @was_signed
        .signature-form
          .title
            Sign this petition!
          .through_site
            = form_tag [@petition, @signature] do |form|
              = simple_fields_for :signature, @signature do |f|
                = f.input :first_name, :hint => false
                = f.input :last_name, :hint => false
                = f.input :email
                = render :partial => "hidden_params"
                #hint.alert.alert-error
                = f.button(:submit, :id => 'sign_petition', :class => 'btn btn-primary btn-danger', :value => 'Sign!' )

            -#.through_fb
            -#  .text Sign in via
            -#  .button.btn.btn-primary Facebook!
            .privacypolicy
              We don't share your email address without your permission. We will send you updates on this and other important campaigns by email, but you can unsubscribe at any time.
      - else
        #thanks-for-signing-message
          = render :partial => "thanks_for_signing"
    - if @was_signed
      #sign-again
        %a{href: "javascript:$.cookie('member_id', null, {path: '/'});location.reload();", :id => "sign-again-link"}
          Does someone else want to sign? Click here.


        .social
          .mobile_signup_button
            = link_to('Sign this Petition!', '#sign_mobile', :class => 'mobile_sign btn btn-primary btn-danger', :'data-toggle' => 'modal', :style => ( @was_signed ? 'display:none' : ''))
  .petition_test.primary
    .petition
      .header
        - if @petition.has_edit_permissions(current_user)
          %h1.petition_title.admin= @petition.title
          = link_to_if current_user, 'Edit this Petition', edit_petition_path(@petition), class: "edit btn btn-primary"
        - else
          %h1.petition_title= @petition.title

        .social
          .mobile_signup_button
            = link_to('Sign this Petition!', '#sign_mobile', :class => 'mobile_sign btn btn-primary', :'data-toggle' => 'modal', :style => ( @was_signed ? 'display:none' : ''))

          - if progress_option == 'x_signatures_of_y' || progress_option == 'x_of_y_supporters'
            .social_icons
              = fb_like petition_url(params[:id]), @fb_tracking_hash
          - else
            .social_icons.tallerprogress
              = fb_like petition_url(params[:id]), @fb_tracking_hash
          .progress_bar
            .numbers
              %div{ :class => progress[:classes] }
                = progress[:text]
            .progress
              .bar{ style: "width: #{float_to_percentage(@sigcount.to_f/counter_size(@sigcount))}" }
          %hr
      .content
        - petitiontext = @petition.description
        - if @petition.to_send != true
          - petitiontext = Sanitize.clean(petitiontext, Sanitize::Config::BASIC)
        .description= petitiontext.html_safe

  - content_for(:meta_tags) do
    - open_graph_for(@petition, @referring_member_hash || @member.try(:to_hash)).each do |key, value|
      = tag 'meta', property:key, content:value.to_s

  = hidden_field_tag 'petitionId', @petition.id

  - if @just_signed
    .modal#thanksModal
      .modal-body
        = link_to('x' , '#', :class => "close", :"data-dismiss" => 'modal')
        = render :partial => "thanks_for_signing"
        - if countdown_to_share?
          %div.share-countdown
            This message will disappear in
            %span.countdown-text
              &nbsp;
            &hellip;

  .modal.hide#facebookFriendsModal
    .modal-body
      %i.icon-search
      = link_to('x' , '#', :class => "close", :"data-dismiss" => 'modal')
      = render :partial => "facebook_share_widget"
    .modal-footer
      %a.btn.btn-success{:href => "#", 'data-dismiss'=>"modal"} I'm done.

  .modal.hide#sign_mobile.signature-form
    .modal-body
      = link_to('x' , '', :class => 'close', :'data-dismiss' => 'modal')
      .title
        Sign this petition!
      .through_site
        = form_tag [@petition, @signature] do |form|
          = simple_fields_for :signature, @signature do |f|
            = f.input :first_name, :hint => false
            = f.input :last_name, :hint => false
            = f.input :email
            #hint.alert.alert-error
            = render :partial => "hidden_params"
            = f.button(:submit, :id => 'sign_petition', :class => 'btn btn-primary', :value => 'Sign!' )
