- content_for :title, @petition.title
= render :partial => "javascript_content"

.fb-root

#mobile_thanks{class: @was_signed ? "was_signed" : "not_signed"}
  .container
    = render :partial => "thanks_for_signing", locals: { who: 'the-one-in-the-side' }

#petition_page.page_content{class: @was_signed ? "was_signed" : "not_signed"}
  .secondary
    - if !@was_signed and !browser.mobile?
      - if spin! "show progress box above sign petition", :signature
        .progress_box
          .progress_text.plain
            Step 1 of 3 complete...
          .progressbar{class: progress_bar_color}
            .fluid
          .progress_text
            You've made it this far.  Please sign!
    .sidebar_test
      .signature-form
        .title
          Sign this petition!
        .through_site
          = form_tag [@petition, @signature] do |form|
            = simple_fields_for :signature, @signature do |f|
              = f.input :first_name, :hint => false
              = f.input :last_name, :hint => false
              = f.input :email
              = hidden_field_tag :referer_ref_code, @referer_ref_code
              = hidden_field_tag :referer_ref_type, @referer_ref_type
              #hint.alert.alert-error
              - if sign_petition_option == 'sign_and_share'
                = f.button :submit, :id => 'sign_petition_and_share', :class => "btn btn-primary #{sign_button_color}", :value => 'Sign and Share'
                = f.button :submit, :id => 'sign_petition', :class => 'btn no_share', :value => 'Sign'
              - else
                = f.button :submit, :id => 'sign_petition', :class => "btn btn-primary #{sign_button_color}", :value => 'Sign!'

          -#.through_fb
          -#  .text Sign in via
          -#  .button.btn.btn-primary Facebook!
          .privacypolicy
            We don't share your email address without your permission. We will send you updates on this and other important campaigns by email, but you can unsubscribe at any time.
      #thanks-for-signing-message
        = render :partial => "thanks_for_signing", locals: { who: 'the-one-in-the-side' }
    - if @was_signed
      = button_to 'Does someone else want to sign? Click here.', again_petition_path(@petition, @query), id: 'sign-again', class: 'btn', method: :post

  .petition_test.primary
    .petition
      .header
        - if @petition.has_edit_permissions(current_user)
          %h1.petition_title.admin= @petition.title
          = link_to_if current_user, 'Edit this Petition', edit_petition_path(@petition), class: "edit btn btn-primary"
        - else
          %h1.petition_title= @petition.title

        .social
          .mobile_signup_button
            = link_to('Sign this Petition!', '', :class => 'mobile_sign btn btn-primary btn-danger')

          - if progress_option == 'x_signatures_of_y' || progress_option == 'x_of_y_supporters'
            .social_icons
              = fb_like petition_url(params[:id]), @fb_tracking_hash
          - else
            .social_icons.tallerprogress
              = fb_like petition_url(params[:id]), @fb_tracking_hash
          .progress_bar
            .numbers
              %div{ :class => progress[:classes] }
                = raw progress[:text]
            .progress
              .bar{ style: "width: #{float_to_percentage(@sigcount.to_f/counter_size(@sigcount))}" }
          %hr
      .content
        - petitiontext = @petition.description_lsub
        - if @petition.to_send != true
          - petitiontext = Sanitize.clean(petitiontext, Sanitize::Config::BASIC)

        #image
          - if @petition.petition_images.any?
            %img{ src: @petition.petition_images.first.url }

        .description= petitiontext.html_safe
        .mobile_signup_button
          = link_to('Sign this Petition!', '', :class => 'mobile_sign btn btn-primary btn-danger', :style => ( @was_signed ? 'display:none' : ''))

  - content_for(:meta_tags) do
    - open_graph_for(@petition, @referer_ref_code || @member.try(:to_hash)).each do |key, value|
      = tag 'meta', property:key, content:value.to_s

  = hidden_field_tag 'petitionId', @petition.id

  .modal#thanksModal
    .modal-body
      = link_to('x' , '#', :class => "close", :"data-dismiss" => 'modal')
      = render :partial => "thanks_for_signing", locals: { who: 'the-one-in-the-modail' }

  .modal.hide#facebookFriendsModal
    .modal-body
      = link_to('x' , '#', :class => "close", :"data-dismiss" => 'modal')
      = render :partial => "facebook_friend_widget"
    .modal-footer
      %a.btn.btn-success{:href => "#"} Send

