.petition
  %h1
    = @petition.title
  - if !current_user.nil? && @petition.has_edit_permissions(current_user)
    = link_to_if current_user, 'Edit this Petition', edit_petition_path(@petition), class: "edit btn btn-primary"

  = simple_format(@petition.description)

#sign-up-form
  .title
    Sign this Petition!
  = simple_form_for([@petition, @signature]) do |f|
    = f.input :name
    = f.input :email
    .span3
      = f.button :submit, :class => 'btn btn-primary', :value => 'Sign!'


  #thanks-for-signing-message
    Thanks for signing -- please share on Facebook:

#sharing-stuff
  = facebook_like petition_url(params[:petition_id])

- content_for(:meta_tags) do
  - petition_to_open_graph(@petition).each do |key, value|
    = content_tag "meta", nil, property:key, content:value

= hidden_field_tag 'petitionId', @petition.id
