- content_for :title, @petition.title
- petitionside = spin! "petition side", :signature, ["petitionleft", "petitionright"]
- thermposition = spin! "thermometer and social icon placement", :signature, ["therm1", "therm2"]
- buttoncolor = spin! "change button color for sign petition", :signature, ["buttoncolor1", "buttoncolor2", "buttoncolor3", "buttoncolor4", "buttoncolor5"]
- signpetitionboxcolor = spin! "change containing box color for sign petition", :signature, ["signaturecolor1", "signaturecolor2", "signaturecolor3", "signaturecolor4", "signaturecolor5", "signaturecolor6"]
- thermometercolor = spin! "change thermometer color", :signature, ["redthermometer", "bluethermomete", "greenthermometer", "orangethermometer", "tealthermometer"]
- signatureposition = spin! "change normal vs fixed positioning for sign petition box", :signature, ["signatureposition1", "signatureposition2"]
- signaturelabels = spin! "change positioning and visibility of labels on sign petition form", :signature, ["signature_labels_beside_inputs_no_asterisk", "signature_labels_beside_inputs_with_asterisk", "signature_labels_beside_inputs_with_asterisk_underlined", "signature_labels_above_inputs_no_asterisk", "signature_labels_above_inputs_with_asterisk", "signature_labels_above_inputs_with_asterisk_underlined", "signature_labels_hidden"]
- signature_display_threshold_met = @sigcount >= spin!("signature display threshold", :signature, [0, 100])
- if signature_display_threshold_met then progressmessaging = spin! "test different messaging on progress bar", :signature, ["x_signatures_of_y", "x_y_to_next_goal", "x_y_to_goal", "x_y_to_go_of_z", "x_supporters_y_to_next_goal", "x_supporters_y_to_goal", "x_supporters_help_us", "x_of_y_supporters"] end
- petitionwidth = spin! "testing different widths", :signature, ["fullwidthpetition", "middlewidthpetition", "narrowwidthpetition"]
- thankyouboxcolor = spin! "different background for thank you box", :share, ["hex_f5f5f5", "hex_bbb", "hex_999", "hex_666", "hex_333", "hex_000"]
- thankyouarrowcolor = spin! "different arrow colors in thank you box", :share, ["bluearrow", "redarrow", "limearrow", "lightbluearrow", "orangearrow"]
- modalrecommendbutton = spin! "different renderings for fb recommend on modal", :share, ["recommend_with_text", "recommend_with_box_all_centered", "recommend_with_box_button_centered"]
- signpetition_ask_vs_tell = spin! "ask vs tell to sign petition", :signature, ["ask", "tell"]
:javascript
  VK.signpetition_ask_vs_tell = '#{signpetition_ask_vs_tell}';
#testui{class: [petitionside, thermposition, buttoncolor, signpetitionboxcolor, signatureposition, signaturelabels, thermometercolor, petitionwidth, thankyouboxcolor, thankyouarrowcolor]}
  .petition
    -#.petition_image
    %h1.petition_title
      = @petition.title
    - if progressmessaging == 'x_signatures_of_y' || progressmessaging == 'x_of_y_supporters'
      .social_icons
        = fb_like petition_url(params[:petition_id])
    - else
      .social_icons.tallerprogress
        -#<a href="http://pinterest.com/pin/create/button/" class="pin-it-button" count-layout="horizontal"><img border="0" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" /></a>
        .fb-like{:'data-send' => 'false', :'data-action' => 'like', :'data-show-faces' => 'false', 'data-width' => '255'}
    - if signature_display_threshold_met && spin!("show thermometer", :signature)
      .progress_bar
        .numbers
          - if progressmessaging == 'x_signatures_of_y'
            .highlight_text
              #{@sigcount} signatures
            of #{counter_size(@sigcount)}
          - elsif progressmessaging == 'x_y_to_next_goal'
            .highlight_text.break
              #{@sigcount} signatures
            only #{counter_size(@sigcount)-@sigcount} more to reach our next goal!
          - elsif progressmessaging == 'x_y_to_goal'
            .highlight_text.break
              #{@sigcount} signatures
            only #{counter_size(@sigcount)-@sigcount} more to reach our goal!
          - elsif progressmessaging == 'x_y_to_go_of_z'
            .highlight_text.break
              #{@sigcount} signatures
            only #{counter_size(@sigcount)-@sigcount} more to reach our goal of #{counter_size(@sigcount)}!
          - elsif progressmessaging == 'x_supporters_y_to_next_goal'
            .highlight_text.break
              #{@sigcount} supporters have signed
            only #{counter_size(@sigcount)-@sigcount} more to reach our next goal!

          - elsif progressmessaging == 'x_supporters_y_to_goal'
            .highlight_text.break
              #{@sigcount} supporters have signed
            only #{counter_size(@sigcount)-@sigcount} more to reach our goal!
          - elsif progressmessaging == 'x_supporters_help_us'
            .highlight_text.break
              #{@sigcount} supporters have signed
            sign now to help us reach our goal of #{counter_size(@sigcount)}!
          - elsif progressmessaging == 'x_of_y_supporters'
            #{@sigcount} of #{counter_size(@sigcount)} supporters have signed
        .progress
          .bar{ style: "width: #{float_to_percentage(@sigcount.to_f/counter_size(@sigcount))}" }
    %hr
    - petitiontext = @petition.description
    - if @petition.to_send != true
      - petitiontext = Sanitize.clean(petitiontext, Sanitize::Config::BASIC)
    .description= petitiontext.html_safe
  .petition_sidebar
    - if !current_user.nil? && @petition.has_edit_permissions(current_user)
      = link_to_if current_user, 'Edit this Petition', edit_petition_path(@petition), class: "edit btn btn-primary"
    - if current_user.nil? || !@petition.has_edit_permissions(current_user)
      #ask-to-sign
        .title
          Do you want to
          %br
          sign this petition?
          %br
          %a(id="yes_i_want_to_sign" title='Yes' href='javascript:void(0)' onclick='layoutPetitionSidebarAs("tell")') Yes

      #signature-form
        .title
          Sign this petition!
        .through_site
          = form_tag [@petition, @signature] do |form|
            = simple_fields_for :signature, @signature do |f|
              - if signaturelabels == 'signature_labels_hidden'
                - placeholder_name = { placeholder: 'name' }
              - else
                - placeholder_name = {}
              = f.input :name, :hint => false, :input_html => placeholder_name

              - if signaturelabels == 'signature_labels_hidden'
                - placeholder_email = { placeholder: 'email' }
              - else
                - placeholder_email = {}
              = f.input :email, :input_html => placeholder_email
              #hint{style: "clear: both"}

              - if @email_hash
                = hidden_field_tag :email_hash, @email_hash
              = f.button(:submit, { :id => 'sign_petition', :class => 'btn btn-primary', :value => spin!("sign button", :signature, ['Sign!', 'Sign Now!', 'Sign Up!'])})
        .through_fb
          .text Sign in via
          .button.btn.btn-primary Facebook!

        .privacypolicy
          We don't share your email address without your permission. We will send you updates on this and other important campaigns by email, but you can unsubscribe at any time.

      #thanks-for-signing-message
        .thanks
          Thanks for signing!
        .share
          Spread the word, share on Facebook!
        .arrow

        .fb-like{:'data-send' => 'false', :'data-action' => 'recommend', :'data-show-faces' => 'false', 'data-width' => '255'}

  - content_for(:meta_tags) do
    - petition_to_open_graph(@petition).each do |key, value|
      = content_tag "meta", nil, property:key, content:value

  = hidden_field_tag 'petitionId', @petition.id


  - if spin! "toggle showing vs. not showing modal", :share
    .modal#thanksModal
      .modal-body
        = link_to('x' , '#', :class => "close", :"data-dismiss" => 'modal')
        .thanks
          Thanks for signing!
        .share
          Spread the word, share on Facebook!
        .arrow

      - if modalrecommendbutton == 'recommend_with_text'
        .fb-like{:'data-send' => 'false', :'data-action' => 'recommend', :'data-show-faces' => 'false', :'data-width' => '255'}
      - elsif modalrecommendbutton == 'recommend_with_box_all_centered'
        .fb-like.all_centered{:'data-send' => 'false', :'data-action' => 'recommend', :'data-show-faces' => 'false', :'data-width' => '255', :'layout' => 'button_count'}
      - elsif modalrecommendbutton == 'recommend_with_box_button_centered'
        .fb-like.button_centered{:'data-send' => 'false', :'data-action' => 'recommend', :'data-show-faces' => 'false', :'data-width' => '255', :'layout' => 'button_count'}

