<%####################################################################################################################
Greetings VictoryKit team member. When you change this template, please test it in multiple email clients. This can be easily done using Campaign Monitor: https://victorykit.createsend.com
#################################################################################################################### %>
<%= render "mail/email_style" %>
<div>
  <table align="right" width="210"style="align: right; width: 210px;">
    <tr>
      <td style="cell-padding: 5px; padding: 5px;">
        <table align="right" width="200" style="align:right;border: 1px solid black;">
          <tr>
            <td style="padding: 10px;">
              <table width="180"style="width:180px;max-width:180px;">
                <tr>
                  <td style="font-weight:bold;margin-bottom:15px;">
                    <%=@short_summary %>
                  </td>
                </tr>
                <tr>
                  <td width="180" style="width: 180px;">
                    <%if(@image_url.present?)%>
                      <img width="180" style="max-width:180px; width:180px;margin-bottom:15px;" src="<%=@image_url%>"/>
                    <%end%>
                  </td>
                </tr>
                <tr>
                  <td>
                    <a class="sign-petition-link" href="<%=@petition_link%>" style="text-decoration:none">
                      <table>
                        <tr>
                          <td class="sign-button" width="180" align="right" style="font-weight:bold;width:180px;border-radius:5px;color:white;padding:10px;font-size:16px; cell-padding: 10px; text-align: center; <%=@button_color%>">
                            Sign the Petition!
                          </td>
                        </tr>
                      </table>
                    </a>
                  </td>
                </tr>
                <%if(@fb_share_url.present?)%>
                <tr>
                  <td align="center">
                    <a class="share-petition-link" href="<%=@fb_share_url%>" style="text-decoration:none">
                      <table>
                        <tr>
                          <td class="share-button" width="120" align="right" style="font-weight:bold;width:120px;border-radius:5px;color:white;padding:5px;font-size:12px; cell-padding: 5px; text-align: center; <%=@share_button_color%>">
                            Share on Facebook!
                          </td>
                        </tr>
                      </table>
                    </a>
                  </td>
                </tr>
                <%end%>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <div>
    <p>Dear <%=@member.full_name%>,</p>

    <p>
    <%=sanitize(@petition.description_lsub("<b><a href='#{@petition_link}'>Click here to sign -- it just takes a second.</a></b>"))%>
    </p>
    <p><b><a style="font-size:125%" href="<%=@petition_link%>">Click here to sign -- it just takes a second.</a></b></p>
    <p>Thanks,<br/>
    -- The folks at Watchdog.net</p>

    <p>P.S. If the other links aren't working for you, please go here to sign: <a href="<%=@petition_link%>"><%=@petition_link%></a></p>
  </div>
</div>

<hr style="clear:both;"/>

<p style="font-size:50%">This email was sent by watchdog.net. To remove yourself from this list, <a href="<%=@unsubscribe_link%>">click here</a>.</p>

<img src="<%=@tracking_url%>" />
