%h1 Dashboard

#email_summary{style: "float:left;padding-right:20px" }
  = link_to("petitions", "petitions")
  |
  = link_to("experiments", "experiments")
  |
  = link_to("statistics", "stats")

  %table.table.table-condensed.bordered-table.table-striped
    %tr
      %td
        Last email:
      %td.numeric
        = time_ago_in_words heartbeat[:last_email]
    %tr
      %td
        Last signature:
      %td.numeric
        = time_ago_in_words heartbeat[:last_signature]
    %tr
      %td
        Emails in queue:
      %td.numeric
        = number_with_delimiter heartbeat[:emails_in_queue]
    %tr
      %td
        Emails sent past week:
      %td.numeric
        = number_with_delimiter heartbeat[:emails_sent_past_week]
    %tr
      %td
        Emailable members:
      %td.numeric
        = number_with_delimiter heartbeat[:emailable_member_count]

#nps_chart{stlye: "float:left"}
  %span{style: "padding-left:50px"}
    = link_to_self_with_param timeframe.key, timeframe.options, " | "
  %br
  %img{ src: nps_chart_url }
  %br

#best_worst
  %table.table.table-condensed.bordered-table.table-striped
    %tr
      %td
        Count
        = link_to_self_with_param extremes_count.key, extremes_count.options, " | "
      %td
        Threshold
        = link_to_self_with_param extremes_threshold.key, extremes_threshold.options, " | "
      %td
      %td
      %td
    %tr
      %th
        Petitions (Best/Worst NPS)
      %th.numeric
        Sent
      %th.numeric
        Sub
      %th.numeric
        Unsub
      %th.numeric
        NPS

    - petition_extremes[:best].each do |p|
      %tr
        %td
          = link_to p[0].title, p[0]
        %td.numeric
          = p[1][:sent]
        %td.numeric
          = p[1][:subscribes]
        %td.numeric
          = p[1][:unsubscribes]
        %td.numeric
          = float_to_percentage p[1][:nps]
    %tr
      %td
        -
      %td
        -
      %td
        -
      %td
        -
      %td
        -
    - petition_extremes[:worst].each do |p|
      %tr
        %td
          = link_to p[0].title, p[0]
        %td.numeric
          = p[1][:sent]
        %td.numeric
          = p[1][:subscribes]
        %td.numeric
          = p[1][:unsubscribes]
        %td.numeric
          = float_to_percentage p[1][:nps]

- content_for :javascripts do
  $(document).ready(setInterval(function(){$("#nps_chart>img").attr("src", "#{nps_chart_url}");},60000));