%h1 Dashboard

.row
  .span5
    #sidebar_summary{style: "float:left;width:275px" }
      = link_to("petitions", "petitions")
      |
      = link_to("experiments", "experiments")
      -#|
      -#= link_to("statistics", "stats")
      |
      = link_to("funnel", "funnel")

    - nps7d = nps_summary[:nps7d]
    - nps24h = nps_summary[:nps24h]
    - nps60m = nps_summary[:nps60m]
    - nps_threshold_map = {nil => "red", 0.035 => "orange", 0.05 => "green"}
    - nps_color7d = map_to_threshold(nps7d, nps_threshold_map)
    - nps_color24h = map_to_threshold(nps24h, nps_threshold_map)
    - nps_color60m = map_to_threshold(nps60m, nps_threshold_map)

    - sps7d = nps_summary[:sps7d]
    - sps24h = nps_summary[:sps24h]
    - sps60m = nps_summary[:sps60m]
    - sps_threshold_map = {nil => "red", 0.035 => "orange", 0.05 => "green"}
    - sps_color7d = map_to_threshold(sps7d, sps_threshold_map)
    - sps_color24h = map_to_threshold(sps24h, sps_threshold_map)
    - sps_color60m = map_to_threshold(sps60m, sps_threshold_map)

    - ups7d = nps_summary[:ups7d]
    - ups24h = nps_summary[:ups24h]
    - ups60m = nps_summary[:ups60m]
    - ups_threshold_map = {nil => "green", 0.005 => "orange", 0.01 => "red"}
    - ups_color7d = map_to_threshold(ups7d, ups_threshold_map)
    - ups_color24h = map_to_threshold(ups24h, ups_threshold_map)
    - ups_color60m = map_to_threshold(ups60m, ups_threshold_map)

    %table.table.table-condensed.bordered-table.table-striped
      %tr
        %td
        %td
          7 day
        %td
          24 hr
        %td
          60 min
      %tr
        %td
          %h3 NPS
        %td{style: "color:#{nps_color7d}"}
          %h3
            = float_to_percentage nps7d
        %td{style: "color:#{nps_color24h}"}
          %h3
            = float_to_percentage nps24h
        %td{style: "color:#{nps_color60m}"}
          %h3
            = float_to_percentage nps60m
      %tr
        %td
          Sub
        %td{style: "color:#{sps_color7d}"}
          = float_to_percentage sps7d
        %td{style: "color:#{sps_color24h}"}
          = float_to_percentage sps24h
        %td{style: "color:#{sps_color60m}"}
          = float_to_percentage sps60m
      %tr
        %td
          Unsub
        %td{style: "color:#{ups_color7d}"}
          = float_to_percentage ups7d
        %td{style: "color:#{ups_color24h}"}
          = float_to_percentage ups24h
        %td{style: "color:#{ups_color60m}"}
          = float_to_percentage ups60m

    %table.table.table-condensed.bordered-table.table-striped
      %tr
        %td
          Last email:
        %td.numeric
          = heartbeat[:last_email].blank? ? "None" : time_ago_in_words(heartbeat[:last_email])
      %tr
        %td
          Last signature:
        %td.numeric
          = heartbeat[:last_signature].blank? ? "None" : time_ago_in_words(heartbeat[:last_signature])
      %tr
        %td
          Emails sent past week:
        %td.numeric
          = number_with_delimiter heartbeat[:emails_sent_past_week]
      %tr
        %td
          Emailable members:
        %td.numeric
          = number_with_delimiter heartbeat[:emailable_member_count]
      %tr
        %td
          Total net new members:
        %td.numeric
          = number_with_delimiter heartbeat[:new_members]
    %table.table.table-condensed.bordered-table.table-striped
      %tr
        %td
          Total donations
        %td
          = "$#{total_donations}"
      %tr
        %td
          Avg donations per day (last 7 days)
        %td
          = "$#{average_donations_per_day.round}"

    #extremes
      %table.table.table-condensed.bordered-table.table-striped
        %tr
          %th
            Petitions (Best/Worst NPS)
          %th.numeric
            Sent
          %th.numeric
            Sub
          %th.numeric
            Unsub
          %th.numeric
            NPS
        %tr
          %td
            Show
            = link_to_self_with_param :x, Statistics::EXTREMES_COUNTS, " | "
          %td{style: "white-space:nowrap"}
            Min
            = link_to_self_with_param :th, Statistics::EXTREMES_THRESHOLDS, " | "
          %td
          %td
          %td

        - petition_extremes[:best].each do |p|
          %tr
            %td
              = link_to p[0].title, p[0]
            %td.numeric
              = p[1][:sent]
            %td.numeric
              = p[1][:subscribes]
            %td.numeric
              = p[1][:unsubscribes]
            %td.numeric
              = float_to_percentage p[1][:nps]

        - petition_extremes[:worst].each do |p|
          %tr
            %td
              = link_to truncate(p[0].title, :length => 75), p[0]
            %td.numeric
              = p[1][:sent]
            %td.numeric
              = p[1][:subscribes]
            %td.numeric
              = p[1][:unsubscribes]
            %td.numeric
              = float_to_percentage p[1][:nps]


  .span7
    #charts
      - unless Rails.env.test?
        %span
          = link_to_self_with_param :t, Statistics::TIMEFRAMES, " | "
          %span{style:"padding-left:350px"}
            %span{style:"color:blue;font-weight:bold"}
              &#x2015;
            %span
              current
            %span{style:"color:#dddddd;font-weight:bold"}
              &#x2015;
            %span
              prior
        %h3 NPS
        %iframe{ src: nps_chart, style: "border:none", height: "180px" }

        %h3 Facebook Actions
        %iframe{ src: facebook_actions_chart, style: "border:none", height: "180px" }

        %h3 Facebook Referrals
        %iframe{ src: facebook_referrals_chart, style: "border:none", height: "180px" }

        %h3 Unsubscribed
        %iframe{ src: unsubscribes_chart, style: "border:none", height: "180px" }

        %h3 Sent
        %iframe{ src: emails_sent_chart, style: "border:none", height: "180px" }

- content_for :javascripts do
  $(document).ready(setInterval(function(){$('#dashboard').load(window.location.href + ' #dashboard');}, 60000));
