%div.row
  %div.span12
    %div.page-header
      %h1 Dashboard

      = render partial: "admin/dashboard/navigation", locals: { active: :dashboard }

      %div.pull-right
        %span.muted.nav-divider
          %i.icon-calendar
          show:
        %ul.nav.nav-pills.pill-block.no-trailing
          - Statistics::TIMEFRAMES.each do |frame|
            %li{class: @statistics.timeframe == frame ? "active" : ""}
              %a{href: url_for(params.merge(t: frame))}= frame

      %div.clearfix

%div.row
  %div.span6
    %table.table.table-condensed.bordered-table.table-striped
      %tr
        %td
          %strong Email
        %td 7 day
        %td 24 hr
        %td 60 min
      %tr.colorize{data: { colors: "0.0,0.035,0.05" }}
        %td
          %h3 NPS
        %td.point
          %h3= float_to_percentage @statistics.nps_7d.nps
        %td.point
          %h3= float_to_percentage @statistics.nps_24h.nps
        %td.point
          %h3= float_to_percentage @statistics.nps_60m.nps

      %tr.colorize{data: { colors: "0.0,0.035,0.05" }}
        %td Sub
        %td.point= float_to_percentage @statistics.nps_7d.sps
        %td.point= float_to_percentage @statistics.nps_24h.sps
        %td.point= float_to_percentage @statistics.nps_60m.sps

      %tr.colorize{data: { colors: "0.01,0.005,0.0" }}
        %td Unsub
        %td.point= float_to_percentage @statistics.nps_7d.ups
        %td.point= float_to_percentage @statistics.nps_24h.ups
        %td.point= float_to_percentage @statistics.nps_60m.ups

    %iframe.chart.span6{src: nps_chart}

  %div.span6
    %table.table.table-condensed.bordered-table.table-striped
      %tr
        %td
          %strong Facebook
        %td 7 day
        %td 24 hr
        %td 60 min
      %tr
        %td
          %h3 NPFS
        %td.point
          %h3= float_to_percentage @statistics.npfs_7d.nps
        %td.point
          %h3= float_to_percentage @statistics.npfs_24h.nps
        %td.point
          %h3= float_to_percentage @statistics.npfs_60m.nps

      %tr
        %td Sub
        %td.point= float_to_percentage @statistics.npfs_7d.sps
        %td.point= float_to_percentage @statistics.npfs_24h.sps
        %td.point= float_to_percentage @statistics.npfs_60m.sps

      %tr
        %td Unsub
        %td.point= float_to_percentage @statistics.npfs_7d.ups
        %td.point= float_to_percentage @statistics.npfs_24h.ups
        %td.point= float_to_percentage @statistics.npfs_60m.ups

    %iframe.chart.span6{ src: facebook_actions_chart }


%div.row
  %div.span12
    %table.table.table-condensed.bordered-table.table-striped
      %tr
        %td
          Last email:
        %td.numeric
          = heartbeat[:last_email].blank? ? "None" : time_ago_in_words(heartbeat[:last_email])
      %tr
        %td
          Last signature:
        %td.numeric
          = heartbeat[:last_signature].blank? ? "None" : time_ago_in_words(heartbeat[:last_signature])
      %tr
        %td
          Emails sent past week:
        %td.numeric
          = number_with_delimiter heartbeat[:emails_sent_past_week]
      %tr
        %td
          Emailable members:
        %td.numeric
          = number_with_delimiter heartbeat[:emailable_member_count]
      %tr
        %td
          Total net new members:
        %td.numeric
          = number_with_delimiter heartbeat[:new_members]
    %table.table.table-condensed.bordered-table.table-striped
      %tr
        %td
          Total donations
        %td
          = "$#{total_donations}"
      %tr
        %td
          Avg donations per day (last 7 days)
        %td
          = "$#{average_donations_per_day.round}"

    -##extremes
    -#  %table.table.table-condensed.bordered-table.table-striped
    -#    %tr
    -#      %th
    -#        Petitions (Best/Worst NPS)
    -#      %th.numeric
    -#        Sent
    -#      %th.numeric
    -#        Sub
    -#      %th.numeric
    -#        Unsub
    -#      %th.numeric
    -#        NPS
    -#    %tr
    -#      %td
    -#        Show
    -#        = link_to_self_with_param :x, Statistics::EXTREMES_COUNTS, " | "
    -#      %td{style: "white-space:nowrap"}
    -#        Min
    -#        = link_to_self_with_param :th, Statistics::EXTREMES_THRESHOLDS, " | "
    -#      %td
    -#      %td
    -#      %td
    -#
    -#    - petition_extremes[:best].each do |p|
    -#      %tr
    -#        %td
    -#          = link_to p[0].title, p[0]
    -#        %td.numeric
    -#          = p[1][:sent]
    -#        %td.numeric
    -#          = p[1][:subscribes]
    -#        %td.numeric
    -#          = p[1][:unsubscribes]
    -#        %td.numeric
    -#          = float_to_percentage p[1][:nps]
    -#
    -#    - petition_extremes[:worst].each do |p|
    -#      %tr
    -#        %td
    -#          = link_to truncate(p[0].title, :length => 75), p[0]
    -#        %td.numeric
    -#          = p[1][:sent]
    -#        %td.numeric
    -#          = p[1][:subscribes]
    -#        %td.numeric
    -#          = p[1][:unsubscribes]
    -#        %td.numeric
    -#          = float_to_percentage p[1][:nps]


%div#charts.row
  %div.span12
    = render partial: 'shared/chart_legend'

  %div.span6
    %h4 Unsubscribed
    %iframe.chart.span6{ src: unsubscribes_chart }

    %h4 Sent
    %iframe.chart.span6{ src: emails_sent_chart }

  %div.span6
    %h4 Facebook Referrals
    %iframe.chart.span6{ src: facebook_referrals_chart }


- content_for :javascripts do
  $(document).ready(setInterval(function(){$('#dashboard').load(window.location.href + ' #dashboard');}, 60000));
