%h1 Dashboard

#dashboard
  #sidebar_summary{style: "float:left;width:275px" }
    = link_to("petitions", "petitions")
    |
    = link_to("experiments", "experiments")
    |
    = link_to("statistics", "stats")

    - nps7d = nps_summary[:nps7d]
    - nps24h = nps_summary[:nps24h]
    - nps60m = nps_summary[:nps60m]
    - nps_threshold_map = {nil => "red", 0.035 => "orange", 0.05 => "green"}
    - nps_color7d = map_to_threshold(nps7d, nps_threshold_map)
    - nps_color24h = map_to_threshold(nps24h, nps_threshold_map)
    - nps_color60m = map_to_threshold(nps60m, nps_threshold_map)

    - sps7d = nps_summary[:sps7d]
    - sps24h = nps_summary[:sps24h]
    - sps60m = nps_summary[:sps60m]
    - sps_threshold_map = {nil => "red", 0.035 => "orange", 0.05 => "green"}
    - sps_color7d = map_to_threshold(sps7d, sps_threshold_map)
    - sps_color24h = map_to_threshold(sps24h, sps_threshold_map)
    - sps_color60m = map_to_threshold(sps60m, sps_threshold_map)

    - ups7d = nps_summary[:ups7d]
    - ups24h = nps_summary[:ups24h]
    - ups60m = nps_summary[:ups60m]
    - ups_threshold_map = {nil => "green", 0.005 => "orange", 0.01 => "red"}
    - ups_color7d = map_to_threshold(ups7d, ups_threshold_map)
    - ups_color24h = map_to_threshold(ups24h, ups_threshold_map)
    - ups_color60m = map_to_threshold(ups60m, ups_threshold_map)

    %table.table.table-condensed.bordered-table.table-striped
      %tr
        %td
        %td
          7 day
        %td
          24 hr
        %td
          60 min
      %tr
        %td
          %h3 NPS
        %td{style: "color:#{nps_color7d}"}
          %h3
            = float_to_percentage nps7d
        %td{style: "color:#{nps_color24h}"}
          %h3
            = float_to_percentage nps24h
        %td{style: "color:#{nps_color60m}"}
          %h3
            = float_to_percentage nps60m
      %tr
        %td
          Sub
        %td{style: "color:#{sps_color7d}"}
          = float_to_percentage sps7d
        %td{style: "color:#{sps_color24h}"}
          = float_to_percentage sps24h
        %td{style: "color:#{sps_color60m}"}
          = float_to_percentage sps60m
      %tr
        %td
          Unsub
        %td{style: "color:#{ups_color7d}"}
          = float_to_percentage ups7d
        %td{style: "color:#{ups_color24h}"}
          = float_to_percentage ups24h
        %td{style: "color:#{ups_color60m}"}
          = float_to_percentage ups60m

    %table.table.table-condensed.bordered-table.table-striped
      %tr
        %td
          Last email:
        %td.numeric
          = time_ago_in_words heartbeat[:last_email]
      %tr
        %td
          Last signature:
        %td.numeric
          = time_ago_in_words heartbeat[:last_signature]
      %tr
        %td
          Emails in queue:
        %td.numeric
          = number_with_delimiter heartbeat[:emails_in_queue]
      %tr
        %td
          Emails sent past week:
        %td.numeric
          = number_with_delimiter heartbeat[:emails_sent_past_week]
      %tr
        %td
          Emailable members:
        %td.numeric
          = number_with_delimiter heartbeat[:emailable_member_count]
      %tr
        %td
          Total net new members:
        %td.numeric
          = number_with_delimiter heartbeat[:new_members]

  #main_content{style: "margin-left:275px;padding-left:25px"}
    #charts
      %span
        = link_to_self_with_param timeframe.key, timeframe.options, " | "
      %br
      = # match frame height to chart height in nps_chart
      %table
        %tr
          %td
            NPS
            %br
            %iframe{ src: nps_chart, style: "border:none", height: "50px" }
        %tr
          %td
            Facebook Actions
            %br
            %iframe{ src: facebook_actions_chart, style: "border:none", height: "50px" }
        %tr
          %td
            Facebook Referrals
            %br
            %iframe{ src: facebook_referrals_chart, style: "border:none", height: "50px" }
        %tr
          %td
            Unsubscribed
            %br
            %iframe{ src: unsubscribes_chart, style: "border:none", height: "50px" }
        %tr
          %td
            Sent
            %br
            %iframe{ src: emails_sent_chart, style: "border:none", height: "50px" }

    #extremes
      %table.table.table-condensed.bordered-table.table-striped
        %tr
          %th
            Petitions (Best/Worst NPS)
          %th.numeric
            Sent
          %th.numeric
            Sub
          %th.numeric
            Unsub
          %th.numeric
            NPS
        %tr
          %td
            Show
            = link_to_self_with_param extremes_count.key, extremes_count.options, " | "
          %td{style: "white-space:nowrap"}
            Min
            = link_to_self_with_param extremes_threshold.key, extremes_threshold.options, " | "
          %td
          %td
          %td

        - petition_extremes[:best].each do |p|
          %tr
            %td
              = link_to p[0].title, p[0]
            %td.numeric
              = p[1][:sent]
            %td.numeric
              = p[1][:subscribes]
            %td.numeric
              = p[1][:unsubscribes]
            %td.numeric
              = float_to_percentage p[1][:nps]
        %tr
          %td{colspan: 5}
            %hr

        - petition_extremes[:worst].each do |p|
          %tr
            %td
              = link_to truncate(p[0].title, :length => 75), p[0]
            %td.numeric
              = p[1][:sent]
            %td.numeric
              = p[1][:subscribes]
            %td.numeric
              = p[1][:unsubscribes]
            %td.numeric
              = float_to_percentage p[1][:nps]

- content_for :javascripts do
  $(document).ready(setInterval(function(){$('#dashboard').load(window.location.href + ' #dashboard');}, 60000));