%h1 Experiments

- @stats.each do |test|
  .experimentname
    = test[:name]
  (goal: #{test[:goal]})
  #{test[:trials]} trials

  %table.table.table-striped.table-condensed.experiment_table
    %tr
      %th % Tried
      %th Variable
      %th Spins
      %th Wins
      %th % Success

    - test[:arms].each do |arm|
      %tr
        %td= float_to_percentage(arm[:spins]/test[:trials].to_f)
        %td.name= arm[:name]
        %td= arm[:spins]
        %td= arm[:wins]
        %td= float_to_percentage(arm[:wins]/arm[:spins].to_f)
