<!-- **************************************************************************************************************
  Greetings VictoryKit team member. When you change this template, please test it in multiple email clients. This can be easily done using Campaign Monitor: https://victorykit.createsend.com  
**************************************************************************************************************  -->
<%= render "mail/email_style" %>

<p>Thanks for signing "<%=@signature.petition.title%>". Please encourage your friends to sign by forwarding this link to them:</p>

<p><a href="<%=@petition_link%>"><%=@petition_link%></a></p>

<p><b><%=@signature.petition.title%></b></p>

<%=sanitize(@signature.petition.description)%>

<p><b><a href="<%=@petition_link%>">Please, click here to sign now!</a></b></p>

<hr />

<p><a href="<%=@unsubscribe_link%>">To stop receiving emails from us, click here to unsubscribe.</a></p>
