<p>Thanks for signing "<%=@signature.petition.title%>". Please encourage your friends to sign by forwarding this link to them:</p>

<p><%=@petition_link%></p>

<p><%=@signature.petition.title%></p>

<p><%=@signature.petition.description%></p>

<p>CLICK HERE TO SIGN:<br/>
<%=@petition_link%></p>
