<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
	<% if current_user.is_super_user? %>
		<%= f.label "Admin" %>
	    <%= f.check_box :is_admin %>
	<% end %>
  </div>
  <div class="field">
	<% if current_user.is_super_user? %>
    	<%= f.label "Super User" %>
    	<%= check_box_tag :is_super_user, :is_super_user, :is_super_user, :disabled => true %>
	<% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>