<h1>Listing users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Signed up on</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.created_at %></td>
    <td><%= user.is_super_user %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Petition', new_petition_path %>
