<h1>Sign Up<h1>

<%= simple_form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <h3>Form is invalid</h3>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.button :submit, :class => 'btn btn-primary', :value => 'Sign Up' %>
<% end %>
