%div.row
  %div.span12
    %div.page-header
      %h1 Hottest Petitions

      = render partial: "admin/petitions/navigation", locals: { active: :hottest }

      %div.pull-right
        %span.muted.nav-divider
          %i.icon-list
          show:
        %ul.nav.nav-pills.pill-block.no-trailing
          - Admin::HottestController::VALID_FILTERS.each do |filter|
            %li{class: @filter == filter ? "active" : ""}
              %a{href: url_for(params.merge(w: filter))}= filter

      %div.clearfix

%div.row
  %div.span12
    %p
      %i
        average NPS:
      = @avg

    %table{class: ['bordered-table', 'table-striped', 'dataTable']}
      %tr
        - unless @unique
          %th
            \%
        %th
          Petition
        %th
          Sent
        %th
          New
        %th
          Unsub
        %th
          NPS
      - @rows.each do |count, petition, data, nps|
        %tr
          - unless @unique
            %td.data
              = count/10.0
          %td
            %a{href: petition_path(petition)}
              = petition.title
          %td.data
            = data[0]
          %td.data
            = data[1]
          %td.data
            = data[2]
          %td.data
            = float_to_percentage nps
