<h1>Petitions dashboard</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Hits</th>
    <th>Signatures</th>
    <th>Conversion</th>
    <th>New members</th>
    <th>Virality</th>
    <th>Created</th>
  </tr>

<% @petitions.each do |petition| %>
  <% analytics = @analytics[petition] %>
  <tr>
    <td><%= petition.title %></td>
    <td><%= analytics[:hits] %></td>
    <td><%= analytics[:signatures] %></td>
    <td><%= number_to_percentage(analytics[:conversion]*100, precision: 2) %></td>
    <td><%= analytics[:new_members] %></td>
    <td><%= number_to_percentage(analytics[:virality]*100, precision: 2) %></td>
    <td><%= petition.created_at %></td>
  </tr>
<% end %>

</table>