<h1>Petitions dashboard</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Hits</th>
    <th>Signatures</th>
    <th>Conversion</th>
    <th>New members</th>
    <th>Virality</th>
    <th>Created</th>
  </tr>

<% analytics_all = AnalyticsGateway.get_report_results %>
<% @petitions.each do |petition| %>
  <% analytics = petition_analytics(analytics_all, petition) %>
  <tr>
    <td><%= petition.title %></td>
    <td><%= analytics[:hits] %></td>
    <td><%= analytics[:signatures] %></td>
    <td><%= analytics[:conversion] %></td>
    <td><%= analytics[:new_members] %></td>
    <td><%= analytics[:virality] %></td>
    <td><%= petition.created_at %></td>
  </tr>
<% end %>

</table>