#header.navbar.navbar-inverse
  .navbar-inner
    .container
      %button.btn.btn-navbar{ 'data-toggle' => 'collapse', 'data-target' => '.nav-collapse' }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to root_path, class: 'logo' do
        = image_tag AppSettings['organization.logo'], style: "height: 40px; vertical-align: top"
      .nav-collapse.in.collapse
        %ul.nav.pull-right
          - if is_admin
            - if should_spin_petition_options?
              - if spin! "show start a petition link to non-admins on petition page", :signature
                %li= link_to('Start a petition', new_petition_path, :class => 'start_petition')
            - else
              %li= link_to('Start a petition', new_petition_path, :class => 'start_petition')
            %li.dropdown
              %a.dropdown-toggle{ 'data-toggle' => 'dropdown' }
                Members
                %b.caret
              %ul.dropdown-menu
                %li= link_to('Users', admin_users_url)
                %li= link_to('Members', admin_members_url)
                %li= link_to('Unsubscribes', admin_unsubscribes_url)
            %li.dropdown
              %a.dropdown-toggle{ 'data-toggle' => 'dropdown' }
                Petitions
                %b.caret
              %ul.dropdown-menu
                %li= link_to('All', petitions_url)
                %li= link_to('Dashboard', admin_dashboard_url)
                %li= link_to('Experiments', admin_experiments_url)
                %li= link_to('Hot', admin_hottest_index_url)
          - if current_user
            %li.dropdown
              %a.logged-in-menu.dropdown-toggle{ 'data-toggle' => 'dropdown', :href => "#" }
                #{current_user.email}
                %b.caret
              %ul.dropdown-menu
                %li= link_to('Change Password', edit_user_path(current_user))
                %li= link_to('Log Out', logout_path, :class => 'nodivider', :id => 'logout')
          - elsif controller_name == 'petitions' && action_name == 'show'
            .nodivider
