- petitionlink = spin! "start a petition as link vs. button in top nav", :signature, ["petition_button", "petition_link"]

- if !current_user.nil? && (current_user.is_admin? || current_user.is_super_user?)
  - class_toggle = 'admin'

.row.navigation{class: [class_toggle]}
  %div
    .row
      .span3
        .logo_box
          = link_to('WATCHDOG.NET', '/', :class => 'logo brand')
      .mobile_nav
        .btn#nav_btn
          %i.icon-plus
      .span9
        %ul.nav
          %li= link_to('Start a petition', new_petition_path, :class => 'start_petition')
          - if can :list_petitions
            %li= link_to('View all petitions', petitions_url)
          - if can :edit_users
            %li= link_to('Manage users', admin_users_url)
          - if can :edit_petitions
            %li= link_to('Petitions dashboard', admin_petitions_url)
          - if current_user
            %li
              %div Logged in as #{current_user.email}
            %li= link_to('Change Password', edit_user_path(current_user))
            %li= link_to('Log Out', logout_path, :class => 'nodivider')
          - elsif controller_name == 'petitions' && action_name == 'show'
            .nodivider
          - else
            %li= link_to('Sign Up or Log In', login_path, :class => 'nodivider')
