- if display_content?
  .page_content

    %h1 Application Health

    - # ATTENTION: newrelic expects to see "Status: OK" on this page, otherwise it sends out alerts. 
    - # So if you change this here, make sure you also update newrelic. Especially if you change it late at night :)
    - # Also, the status color applies to both label and value because newrelic doesn't seem to like spans in its substring check.
    %h3{:class => @overall_working ? "ok" : "failing" } Status: #{@overall_working ? "OK" : "FAILING"}

    %table.table.table-condensed.bordered-table.table-striped
      %thead
        %th
          Function
        %th
          Threshold (minutes)
        %th
          Last
        %th
          Status
      %tr
        %td
          Sending emails
        %td
          #{@email_threshold}
        %td
          #{@last_email_timestamp}
        %td{:class => @email_working ? "ok" : "failing" }
          #{@email_working ? "Active" : "INACTIVE" }
      %tr
        %td
          Collecting signatures
        %td
          #{@signature_threshold}
        %td
          #{@last_signature_timestamp}
        %td{:class => @signature_working ? "ok" : @signature_failing_style }
          #{@signature_working ? "Active" : "INACTIVE"}
