/encoding: utf-8

.row
  .span2
    = render :partial => 'navigation'

  .span10
    %h2 Unsubscribes
    .pagination_gem= will_paginate @unsubscribes, :container => false

    %table.table.table-striped.table-condensed.sortable
      %thead
        %tr
          %th Name
          %th Created
      %tbody
        - @unsubscribes.each do |unsubscribe|
          %tr
            %td #{unsubscribe.email}
            %td #{unsubscribe.created_at}

    .pagination_gem= will_paginate @unsubscribes, :container => false