%h1 Site Status
-if @commit_hash
  %p
    Deployed commit hash 
    %code #{@commit_hash}.
%p
  You are session ID #{@session_id}.
%p
  Your user agent: #{@user_agent}

- if not Rails.env.production?
  - session.each do |s|
    %br
      #{s[0]}
      \=
      #{s[1]}
