%h1 Site Status
-if @commit_hash
  %p
    Deployed commit hash 
    %code #{@commit_hash}.
%p
  You are session ID #{@session_id}.
%p
  Your user agent: #{@user_agent}

- if @can_update_session
  %form{:name => "update-session", :id => "update-session", :action => "/status", :method => "put", :enctype => "text/plain"}
    - session.each do |s|
      #session-value
        - key = s[0]
        - key_spaceless = key.gsub ' ', '__'
        - value = s[1].to_s
        %label{:for => "#{key_spaceless}", :style => "float:left;width:375px"} #{key}:
        %input{:type => "text", :name => "#{key_spaceless}", :class => "text", :value => value, :style => "float:left"}
    %input{:type => "submit", :value => "Update"}
