= simple_form_for [:admin, @user] do |f|
  - if @user.errors.any?
    #error_explanation

  = f.input :email
  .field
  - if current_user.is_super_user? && current_user != @user
    = f.input :is_admin
  .field
  - if current_user.is_super_user? && current_user != @user
    = f.input :is_super_user
  = f.button :submit, :class => 'btn btn-primary', :value => 'Save'
