.span12
  %h1 Site Status
  -if @commit_hash
    %p
      Deployed commit hash
      %code #{@commit_hash}.
  %p
    You are session ID: #{@session_id}.
  %p
    Your user agent: #{@user_agent}
  %p
    Http referer: #{retrieve_http_referer}

  - if @can_update_session
    = form_tag(whiplash_sessions_path, :method => :post) do
      = hidden_field_tag :debug_token, @debug_token

      %div{style: "float:left;padding:10px" }
        %table
          - site_experiments = @keys.find_all {|s| not s.match(/^petition/)}
          - site_experiments.each do |k|
            %tr
              %td
                = label_tag k, nil
              %td
                = text_field_tag k, session[k]

      %div{style: "float:left;padding:10px" }
        %table
          - petition_experiments = @keys.find_all {|s| s.match(/^petition/)}
          - petition_experiments.each do |k|
            %tr
              %td
                = label_tag k, nil
              %td
                = text_field_tag k, session[k]

      %div{style: "float:left;padding:10px" }
        = submit_tag "Update"

    %div{style: "clear:both"}
