.span12
  %h1 Statistics
  %p
    %i
      currently showing:
      = link_to_unless_current("metrics", metrics_admin_stats_path) { |x| content_tag(:b, x) }
      &nbsp;&nbsp;
      = link_to_unless_current("browser usage", browser_usage_admin_stats_path) { |x| content_tag(:b, x) }

  %h2
    Browser usage (for signatures) per day

  .plot-container#signatures-by-browser{style: "width:800px;height:600px", data: { "query-url" => data_browsers_admin_stats_path } }
  %h2
    Browser usage summary

  - @browser_stat.each do |browser, percent|
    %br
      %b
        = browser
      = " #{percent} %"