<%= render "mail/email_style" %>
<div>
  <%if @is_summary_present%>
    <div style="float:right;width:200px;margin:0 0 15px 20px;border:1px solid black; text-align:center; padding:10px;">
      <div style="font-weight:bold;margin-bottom:15px;">
        <%=@petition.short_summary %>
      </div>
      <a href="<%=@petition_link%>" style="text-decoration:none">
        <div>
          <%if(@image_url.present?)%>
            <img style="max-width:200px;" src="<%=@image_url%>"/>
          <%end%>
        </div>
        <div class="sign-button" style="background:#990000;border-radius:5px;margin-top:15px;color:white;padding:10px;font-size:16px;">
          Sign the Petition!
        </div>
      </a>
    </div>
  <%else%>
    <div>
      <%if(@image_url.present?)%>
        <img style="margin-left:20px;" src="<%=@image_url%>" width="200" align="right" />
      <%end%>
    </div>
  <%end%>


  <div>
    <%if(!@hide_demand_progress_introduction)%>
      <p><font color="#888"><i>Demand Progress has teamed up with Watchdog.net, a new site where you can start a petition on any topic. Here's one we think you might be interested in.</i></font></p>
    <%end%>

    <p>Dear <%=@member.name%>,</p>

    <p>
    <%=sanitize(@petition.description)%>
    </p>
    <p><b><a href="<%=@petition_link%>">Please, click here to sign now!</a></b></p>

    <p>Thanks,<br/>
    -- The folks at Watchdog.net</p>
  </div>

</div>

<hr style="clear:both;"/>
<p><a href="<%=@unsubscribe_link%>">To stop receiving emails from us, click here to unsubscribe.</a></p>

<img src="<%=@tracking_url%>" />
